/* main deviations from bartik for stylistic reasons */

.form-type-date-popup label,
.form-type-date-popup .description,
.tabledrag-toggle-weight,
.form-item-field-resources-und-0-title .description {
  display:none;
}

.container-inline-date .date-padding {
  padding:0;
}

/* fix autocomplete popup */
.ds-form {
  position: relative;
}

form.node-form .field-multiple-table th.field-label {
  padding-left: 5px;
}
form .inline-form-field {
  float:left;
  clear:left;
}
form .inline-form-field-right {
  float:right;
  clear:right;
}
.group-right div {
  margin-left: 30px;
}
.group-right div div {
  margin-left:0;
}
.form-required {
  color: #f06eaa;
}
label,
.views-exposed-form label {
  font-weight: normal;
  margin: 10px 0 6px 0;
}

td.views-field-views-bulk-operations {
  width: 30px;
}

a.contextual-links-trigger {
  background: transparent url(../images/gear-select.png) no-repeat 2px 0;
  display: block;
}

.region-content ul, .region-content ol {
  padding: 0 0 0.25em 1.5em;
}

/* SESSIONS SPECIFIC */

/* highlight specific admin views rows */

tr .views-field-title {
  width: 200px;
}
tr.node-session .views-field-title {
  background-color: #8EF2BF;
}
tr.node-course .views-field-title {
  background-color: #92CDF0;
}
td.active{
  background-color: transparent;
  background-color: rgba(0,0,0,0.2);
}

#field-resources-values .description {
  display: none;
}
.ds-form .description {
  margin: 10px 0 10px 0;
  
  font-style: italic;
}
.small-text {
  font-size: 0.85em;
  line-height: 2;
}
/* END SESSIONS SPECIFIC */


/* Views (custom class box-list set in views ui) */
.box-list ul {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.box-list li { list-style: none; padding:0;}
.box-list li a {
  background-color: #eee;
  width: 100px;
  height: 1.5em;
  display: block;
  float: left;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
}
.box-list li a:hover,
.view-header li a:hover {
  background-color: #ddd;
  text-decoration: none;
}
.view-header .box-list li a {
  background-color: #555;
  color: #eee;
}
.view-header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.view-empty {
  padding-top: 20px;
  font-style: italic;
}
#views-record-count-text {
  text-align: right;
  margin-top: -20px;
}
tr td { vertical-align: top; }
tr td ul { margin: 0; }

.views-exposed-widget.views-submit-button,
.views-exposed-widget.views-reset-button {
  margin: 17px 0 0 -10px;
}
.views-exposed-widget {
  margin-bottom: 10px;
}
.views-exposed-widget fieldset {
  margin:0;
}

/* clean up vbo views */

#views-form-bulk-admin-page fieldset.container-inline {
  margin: 0;
  padding: 0;
  border: 0 none;
  background: transparent;
}

#views-form-bulk-admin-page #edit-select .fieldset-wrapper {
  margin:-80px;
}


#views-form-bulk-admin-page fieldset.container-inline .fieldset-legend {
  display: none;
}
#views-form-bulk-admin-page fieldset.container-inline legend {
  background: transparent;
  border: 0 none;
}
#views-form-bulk-admin-page fieldset.container-inline {
  width: 500px;
  margin-right: 60px;
  float:right;
}
#views-form-bulk-admin-page fieldset.container-inline .form-submit {
  float:right;
}
.views-widget-filter-secondary {
  margin-top: 35px;
}
.views-widget-filter-secondary fieldset,
.views-widget-filter-secondary fieldset legend {
  width:250px;
}
#views-form-bulk-admin-page .views-exposed-widgets {
  margin-bottom: 0;
}
#views-exposed-form-bulk-admin-page .views-exposed-widgets 
a.fieldset-title {
  min-width: 200px;
}

/* Calendar highlighting */

.calendar-calendar .year.mini-day-on,
.calendar-calendar .year.mini-day-off {
    height: 40px;
}
.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .year.mini-day-on {
  background-color: #8EF2BF;
}
.calendar-calendar .year.mini-day-on a {
  display:block;
  width:40px;
  height:40px;
  text-decoration: none;
  color: black;
}